// Colors 

// Typography 

$font-family: "Outfit", sans-serif;

$fs-base: 16;

// $fs-10: calc(10  / $fs-base) + rem;
// $fs-12: calc(12  / $fs-base) + rem;
// $fs-13: calc(13  / $fs-base) + rem;
// $fs-14: calc(14  / $fs-base) + rem;
// $fs-16: calc(16  / $fs-base) + rem;
// $fs-18: calc(18  / $fs-base) + rem;
// $fs-20: calc(20  / $fs-base) + rem;
// $fs-24: calc(24  / $fs-base) + rem;
// $fs-30: calc(30  / $fs-base) + rem;
// $fs-32: calc(32  / $fs-base) + rem;

$fs-10: 10px;
$fs-12: 12px;
$fs-13: 13px;
$fs-14: 14px;
$fs-16: 16px;
$fs-18: 18px;
$fs-20: 20px;
$fs-24: 24px;
$fs-30: 30px;
$fs-32: 32px;
$fs-40: 40px;

$lh-base: 16;

$lh-18: calc(18 / $lh-base) + rem;
$lh-20: calc(20 / $lh-base) + rem;
$lh-22: calc(22 / $lh-base) + rem;
$lh-24: calc(24 / $lh-base) + rem;
$lh-28: calc(28 / $lh-base) + rem;
$lh-32: calc(32 / $lh-base) + rem;
$lh-38: calc(38 / $lh-base) + rem;
$lh-40: calc(40 / $lh-base) + rem;
$lh-42: calc(42 / $lh-base) + rem;
$lh-48: calc(48 / $lh-base) + rem;

$fw-regular: 400;
$fw-medium: 500;
$fw-semi-bold: 600;
$fw-bold: 700;

:root {
    --element-size-big: 58px;
    --element-size-medium: 44px;
    --element-size-small: 36px;
}

// Text Styles

%text-xl-font-medium {
    font-family: $font-family;
    font-size: $fs-20;
    font-weight: $fw-medium;
    line-height: $lh-32;
}

%text-base-font-semibold {
    font-family: $font-family;
    font-size: $fs-16;
    font-weight: $fw-semi-bold;
    line-height: $lh-24;
    text-align: center;
}

%text-3xl-font-bold {
    font-family: $font-family;
    font-size: $fs-30;
    font-weight: $fw-bold;
    line-height: $lh-42;
}

%text-3xl-font-medium {
    font-family: $font-family;
    font-size: $fs-30;
    font-weight: $fw-medium;
    line-height: $lh-42;
}

%text-4xl-font-medium {
    font-family: $font-family;
    font-size: $fs-40;
    font-weight: $fw-medium;
    line-height: $lh-48;
}

%text-sm-font-medium {
    font-family: $font-family;
    font-size: $fs-14;
    font-weight: $fw-medium;
    line-height: $lh-22;
}

%text-sm-font-medium {
    font-family: $font-family;
    font-size: $fs-14;
    font-weight: $fw-medium;
    line-height: $lh-22;
}

%text-custom-font-medium {
    font-family: $font-family;
    font-size: $fs-12;
    font-weight: $fw-medium;
    line-height: normal;
}

%text-base-font-bold {
    font-family: $font-family;
    font-size: $fs-16;
    font-weight: $fw-bold;
    line-height: $lh-24;
}

%text-lg-font-semibold {
    font-family: $font-family;
    font-size: $fs-18;
    font-weight: $fw-semi-bold;
    line-height: $lh-28;
    text-align: center;
}

%text-base-font-medium {
    font-family: $font-family;
    font-size: $fs-16;
    font-weight: $fw-medium;
    line-height: $lh-24;
}

%text-2xl-font-medium {
    font-family: $font-family;
    font-size: $fs-24;
    font-weight: $fw-medium;
    line-height: $lh-38;
    text-align: right;
}

%text-2xl-font-medium {
    font-family: $font-family;
    font-size: $fs-24;
    font-weight: $fw-medium;
    line-height: $lh-38;
    text-align: right;
}

%text-lg-font-medium {
    font-family: $font-family;
    font-size: $fs-18;
    font-weight: $fw-medium;
    line-height: $lh-28;
}

%text-sm-font-semibold {
    font-family: $font-family;
    font-size: $fs-14;
    font-weight: $fw-semi-bold;
    line-height: $lh-22;
    text-align: center;
}

%text-2xl-font-semibold {
    font-family: $font-family;
    font-size: $fs-24;
    font-weight: $fw-semi-bold;
    line-height: $lh-38;
}

%text-sm-font-regular {
    font-family: $font-family;
    font-size: $fs-14;
    font-weight: $fw-regular;
    line-height: $lh-22;
    overflow: hidden;
    text-overflow: ellipsis;
}

%text-xs-font-medium {
    font-family: $font-family;
    font-size: $fs-12;
    font-weight: $fw-medium;
    line-height: $lh-18;
}

%text-xs-font-regular {
    font-family: $font-family;
    font-size: $fs-12;
    font-weight: $fw-regular;
    line-height: $lh-18;
}

%text-xxs-font-regular {
    font-family: $font-family;
    font-size: $fs-10;
    font-weight: $fw-regular;
    line-height: $lh-18;
}

%text-base-font-regular {
    font-family: $font-family;
    font-size: $fs-16;
    font-weight: $fw-regular;
    line-height: $lh-24;
}

.hide {
    display: none !important;
}

.bg--transparent {
    background: transparent !important;
}

.bg--state-primary-active {
    background: var(--state-primary-active) !important;
    &:hover {
        background-color: var(--fill-400) !important;
    }
}

.bg--fill-600 {
    background: var(--fill-600) !important;
    display: flex;
    flex-direction: column;
    gap: 24px;
    height: 100%;
}

.bg--fill-50 {
    background: var(--fill-50) !important;
}

.bg--lavanda-dark {
    background: var(--lavanda-dark) !important;
}

.bg--lavanda-light {
    background: var(--lavanda-light) !important;
}

.bg--blue-dark {
    background: var(--blue-dark) !important;
}

.bg--blue-light {
    background: var(--blue-light) !important;
}

.row {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    width: 100%;
}

.row>* {
    flex: 1;
}

.padding-reset {
    padding: 0;
}

.rotate-180 {
    transition: transform 0.3s ease-in;
    transform: rotate(180deg);
}

.rotate-0 {
    transition: transform 0.3s ease-out;
    transform: rotate(0deg);
}

.page {
    background: var(--fill-00);
    display: grid;
    grid-template-areas:
        "sidebar header"
        "sidebar main"
        "sidebar footer";
    grid-template-columns: auto 1fr;
    grid-template-rows: 90px auto auto;
    width: 100%;
    max-width: 100vw;
    min-height: 100vh;
}

.grid-header {
    grid-area: header;
}

.grid-sidebar {
    grid-area: sidebar;
    height: 100%;
    min-height: 100vh;
}

.grid-main {
    grid-area: main;
}

.grid-footer {
    grid-area: footer;
}

.page--onboarding {
    background: var(--white);
    display: flex;
    width: 100vw;
    height: 100vh;
}

.page--vote,
.page--initiative {
    display: flex;
    flex-direction: column;
    width: calc(100vw - 90px);
    height: calc(100vh - 90px);
}


.page--initiative {
    background: #F4F4F4;
}

.page--onboarding>.row {
    gap: 0;
}

.onboarding__form {
    padding: 64px;
    max-width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.initiative__form {
    padding: 24px 56px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: auto;
    height: 100%;
}

.form__wrapper {
    display: flex;
    flex-direction: column;
    gap: 24px;
    height: 100%;
}

.steps__wrapper {
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin-right: 16px;
}

.form__wrapper--initiative {
    overflow: auto;
}

.form__title {
    @extend %text-3xl-font-medium;
    color: var(--text-primary);
}

.progress {
    width: 100%;
}

.progress--steps {
    display: flex;
    gap: 8px;
}

.progress--steps-cube {
    display: flex;
    gap: 16px;
    padding: 16px;
    align-items: center;
    background: var(--white);
    height: fit-content;
}

.step {
    display: flex;
    gap: 8px;
    align-items: center;
    width: 100%;
    border: none;
    cursor: pointer;
    background: transparent;
}

.step__line {
    height: 3px;
    border-radius: 4px;
    width: 100%;
    background: var(--color-green-100);
}

.step__cube {
    display: flex;
    min-width: 32px;
    width: 32px;
    height: 32px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    border-radius: 12px;
    background: var(--fill-100, #A1DFA4);
}

.step--active .step__line {
    background: var(--state-primary-active);
}

.step--active .step__cube {
    border: 4px solid var(--state-primary-selected);
    background: var(--state-primary-active);
}

// .step__cube::after {
//     position: relative;
//     content: "";
//     border-radius: 100%;
//     height: 12px;
//     width: 12px;
//     margin: auto;
//     border: 1px solid var(--fill-400);
//     background: transparent;
// }

// .step--active .step__cube::after {
//     border: none;
//     background: var(--white);
// }

.step__name {
    @extend %text-base-font-medium;
    color: var(--text-secondary);
}

.step--complete .step__cube {
    background: var(--state-primary-active);
}

.form__title {}

.label {
    @extend %text-xs-font-regular;
    color: var(--text-primary);
}

.form__inputs {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 16px;
    align-self: stretch;
    padding: 44px 0;
}

.form__inputs__wrapper {
    width: 100%;
}

.form__inputs__wrapper>* {
    width: 100%;
    margin-top: 4px;
}

.form__inputs__wrapper:first-child {
    margin-top: 0;
}

.form__inputs__container__cta {
    margin-top: 4px;
    display: flex;
    gap: 4px;
    width: 100%;
}

.form__inputs__container {
    display: flex;
    gap: 4px;
}

.form__inputs__disclaimer {
    @extend %text-sm-font-medium;
    color: var(--text-secondary);
    background: var(--fill-50);
    padding: 12px;
    border-radius: 8px;
    margin: 4px 0;
    white-space: pre-line;
}

.form__input {
    display: flex;
    gap: 8px;
}

.form__input--initiative {
    display: flex;
    align-items: flex-start;
    gap: 8px;
    width: 100%;
}

.form__input__info {
    display: flex;
    width: 333px;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
}

.form__input__info__title {
    @extend %text-lg-font-medium;
    color: var(--text-secondary);
}

.form__input__info__description {
    @extend %text-sm-font-regular;
    color: var(--text-secondary);
}

.form__divider {
    width: 100%;
    border: none;
    border-bottom: 1px solid var(--fill-00);
    padding: 4px 0;
}

.form__inputs--initiative {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 24px;
    padding: 0;
}

.form__inputs .input-wrapper {
    background: var(--fill-50);
}

.form__inputs .textarea__wrapper {
    background: var(--fill-50);
}

.form__inputs--initiative .input-wrapper {
    background: var(--fill-00);
}

.form__inputs--initiative .textarea__wrapper {
    background: var(--fill-00);
}

.form__inputs>li {
    display: flex;
    align-items: center;
    width: 100%;
    gap: 12px;
    justify-content: space-between;
}

.form__inputs--initiative>li {
    justify-content: normal;
    flex-direction: column;
    align-items: flex-start;
}

.form__inputs .button--avatar {
    background: var(--fill-00);
}

.form__inputs--combo {
    padding: 0 0 0 60px;
    gap: 8px;
}

.form__cta {
    width: 100%;
    margin: 0 auto;
    display: flex;
    gap: 8px;
}

.form__cta--initiatives {
    display: flex;
    padding: 16px 56px;
    justify-content: flex-end;
    align-items: center;
    gap: 8px;
    align-self: stretch;
    background: var(--fill-00);
    height: fit-content;
}

.form__cta--initiatives .button {
    width: fit-content;
}

.onboarding__image {
    max-height: 100vh;
    width: 100%;
}

.onboarding__image img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.notification {
    background: var(--background-modal);
    color: var(--text-primary);
    border: 1px solid transparent;
    width: 100%;
    padding: var(--size-1);
    text-align: left;
    position: absolute;
    z-index: 100;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    min-height: 60px;
    border-radius: 8px;
    left: 16px;
    bottom: 16px;
}

.notification__title {
    @extend %text-base-font-medium;
    color: var(--text-primary);
}

.notification__body {
    @extend %text-base-font-regular;
    color: var(--text-tertiary);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-top: var(--size-0);
}

.notification--error {
    background: var(--color-red-50);
}

.notification--error>.notification__title {
    color: var(--color-red-700);
}

.notification--error>.notification__body {
    color: var(--state-destructive-hover);
}

.notification--warning {
    background: var(--secondary-yellow-25);
}

.notification--success {
    background: var(--fill-50);
}

.tooltip {
    border: 1px solid rgba(0, 0, 0, 0);
    width: 30%;
    height: fit-content;
    padding: var(--size-1);
    text-align: left;
    position: fixed;
    z-index: 100;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, .25);
    min-height: 60px;
    border-radius: 8px;
    bottom: 16px;
    left: 16px;
    background: var(--fill-50);
}

.tooltip__title {
    @extend %text-base-font-bold;
    color: var(--text-primary);
}

.tooltip__body {
    @extend %text-base-font-medium;
    color: var(--text-secondary);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-top: var(--size-0);
}

.button,
.tab {
    @extend %text-base-font-semibold;
    padding: 0 16px;
    transition: opacity 0.2s ease-out, background-color 0.2s ease-out;
    cursor: pointer;
    border-radius: 36px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4px;
    border: none;
}

.tab {
    border: none;
    color: var(--text-secondary);
    border-radius: 12px;
    padding: 0 16px;
    background: transparent;
    height: 44px;
}

.tab--active {
    color: var(--text-primary);
    background: var(--fill-50);
}

.button--primary {
    border: none;
    color: var(--fill-00);
    background: var(--state-primary-active);
    &:hover {
        background-color: var(--fill-400);
    }
}

.button--secondary {
    border: none;
    color: var(--text-loud);
    background: var(--fill-100);
    &:hover {
        background-color: var(--fill-200);
    }
}

.button--tertiary {
    border: none;
    color: var(--text-primary);
    border-radius: 0;
    padding: 0 8px;
    background: transparent;
    line-height: normal;
}

.button--loading {
    opacity: 0.8;
}

.button--skeleton {
    height: 44px;
}

.button--avatar {
    line-height: 0;
    border-radius: 20%;
    width: 60px;
    padding: 0;
}

.button--icon,
.button--avatar,
.button--drop,
.button--action {
    line-height: 0;
    background: var(--background-button);
    border-radius: 20%;
    width: 60px;
    padding: 0;
    transition: background-color 0.2s ease-in;
    &:hover {
        background-color: var(--fill-600);
    }
}

.button--drop {
    &:hover {
        opacity: 0.7;
    }
}

.button--avatar {
    background: var(--state-primary-active);
    min-width: 48px;
    height: 48px;
    width: 48px;
    position: relative;
}

.button--action {
    background: var(--state-primary-active);
}

.button--drop {
    max-width: 24px;
    height: 24px !important;
    width: fit-content !important;
    min-width: fit-content !important;
    display: inline-block;
}


.button--comming-soon {
    opacity: .7;
    filter: grayscale(1);
}

.button--comming-soon::after {
    @extend %text-xs-font-regular;
    content: "Soon";
    position: absolute;
    bottom: -12px;
    padding: 0 4px;
    border-radius: 4px;
    color: var(--text-white);
    background: var(--state-base-border);
}

.tabs {
    display: flex;
}

.badge {
    @extend %text-custom-font-medium;
    color: var(--text-primary);
    padding: 8px 16px;
    border-radius: 32px;
    display: inline-block;
}

.badge--green-dark {
    background: var(--green-dark);
    color: var(--white);
}

.badge--green-light {
    background: var(--green-light);
    color: var(--green-dark);
}

.badge--lavanda-dark {
    background: var(--lavanda-dark);
    color: var(--white);
}

.badge--lavanda-light {
    background: var(--lavanda-light);
    color: var(--lavanda-dark);
}

.badge--blue-dark {
    background: var(--blue-dark);
    color: var(--white);
}

.badge--blue-light {
    background: var(--blue-light);
    color: var(--blue-dark);
}

.badge--red-dark {
    background: var(--state-destructive-active);
    color: var(--white);
}

.badge--red-light {
    background: var(--state-destructive-active);
    color: var(--blue-dark);
}

.details__proposal {
    padding: 20px 28px;
    width: 100%;
    border-radius: 28px;
    border-right: 1px solid var(--fill-00);
    border-bottom: 1px solid var(--fill-00);
    border-left: 1px solid var(--fill-00);
    display: flex;
    flex-direction: column;
    background: var(--white);
}

.details__subtitle {
    @extend %text-base-font-medium;
    color: var(--text-secondary);
}

.details__tags {
    padding: 12px 0;
}

.details__proposal,
.details__voting {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.details__statistics {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.details__head {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.details__head>button {
    width: fit-content;
}

.details__cta {
    width: 50%;
    margin: 40px auto 0;
}

.statistics__title {
    @extend %text-lg-font-medium;
    color: var(--text-secondary);
}

.bar {
    width: 100%;
    border-radius: 16px;
    display: flex;
    overflow: hidden;
    position: relative;
}

.bar--vote {
    background: #f44336bd;
}

.bar--vote>.bar__content--left {
    background: #56C95F;
}


.bar--remaign {
    background: #c7eedb;
}

.bar--remaign>.bar__content--left {
    background: #89c3e9;
}

.bar--participation {
    background: var(--white);
}

.bar__content__threshold {
    width: 1px;
    height: 18px;
    background: black;
    position: absolute;
}

.bar__percent {
    width: 100%;
    border-radius: 16px;
    display: flex;
    justify-content: space-between;
}

.bar__content {
    display: inline-block;
}

.bar__content--right {
    &>p {
        text-align: right;
    }
}

.statistics__votes {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-around;
}

.statistics__card {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.votes-counter {
    display: flex;
    align-items: center;
    position: relative;
    gap: 8px;
    padding: 11px 0 12px 0;
    border-bottom: 1px solid rgba(34, 122, 107, 0.20);
}

.votes-counter__title {
    @extend %text-xxs-font-regular;
    padding: 0px 8px;
}

.votes-counter__percent {
    @extend %text-base-font-regular;
    text-align: left;
}

.votes-counter__total {
    @extend %text-base-font-medium;
}

.vote-cta {
    background: var(--white);
    border-bottom: 1px rgba(34, 122, 107, 0.20);
    border-radius: 12px;
}

.voting {
    margin-top: 24px;
}

.voting__cta {
    margin-top: 12px;
}

.details__metadata {
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.details__title {
    @extend %text-2xl-font-semibold;
    color: var(--text-primary);
    text-align: left;
    margin-top: 24px;
}

.details__description {
    @extend %text-base-font-regular;
    color: var(--text-primary);
    margin-top: 12px;
}

.vote-card {
    padding: 20px 28px;
    width: 100%;
    background: #DAFBDB;
    border-radius: 28px;
    box-shadow: 0px 1px 0px 0px rgba(26, 26, 26, 0.08), 0px 2px 4px -1px rgba(26, 26, 26, 0.08);
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.vote-card__title {
    @extend %text-base-font-regular;
    color: var(--text-secondary);
}

.vote-card__info {
    @extend %text-xs-font-regular;
    color: var(--text-tertiary);
}

.requests {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.action-request {
    background: var(--white);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 8px;
}

.action-request--big {
    border-radius: 12px;
}

.action-request--medium {
    border-radius: 12px;
}

.action-request--small {
    border-radius: 100px;
}

.action-request__title {
    @extend %text-base-font-regular;
    color: var(--text-tertiary);
}

.action-request__details {
    @extend %text-xs-font-regular;
    line-height: normal;
    color: var(--text-tertiary);
}

.key-value {
    display: flex;
    width: 100%;
}

.key-value--row {
    flex-direction: row;
    gap: 8px;
    justify-content: space-between;
    align-items: center;
}

.key-value--column {
    flex-direction: column;
    gap: 4px;
}

.key-value__key {
    color: var(--text-primary);
    height: fit-content;
}

.key-value__value {
    color: var(--text-primary);
    height: fit-content;
}

.key-value--primary {
    color: var(--text-primary);
}

.key-value--secondary {
    color: var(--text-primary);
    opacity: 0.7;
}

.key-value--big .key-value__key {
    @extend %text-base-font-regular;
}

.key-value--big .key-value__value {
    @extend %text-base-font-medium;
}

.key-value--medium .key-value__key {
    @extend %text-sm-font-regular;
}

.key-value--medium .key-value__value {
    @extend %text-sm-font-medium;
}

.key-value--small .key-value__key {
    @extend %text-xs-font-regular;
}

.key-value--small .key-value__value {
    @extend %text-xs-font-medium;
}

.note {
    display: flex;
    padding: 12px;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 12px;
    border-radius: 12px;
    background: rgba(150, 150, 150, 0.30);
    @extend %text-custom-font-medium;
    color: var(--text-primary);
}

.note .key-value__key,
.note .key-value__value {
    font-family: $font-family;
    font-size: $fs-12;
    font-weight: $fw-medium;
    line-height: normal;
    color: var(--text-primary);
}

.markdown-preview {
    width: 100%;
    min-width: 220px;
    padding: 5px 20px;
    border-radius: 12px;
    border: none;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.markdown {
    width: 100%;
}

.markdown__wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 8px;
}

.markdown__wrapper--preview,
.markdown__wrapper--editor #editor {
    width: 100%;
    min-width: 220px;
    padding: 5px 20px;
    border-radius: 12px;
    background: var(--fill-00);
    border: none;
    box-shadow: 0px 0.5px 0px 0px rgba(26, 26, 26, .08), 0px 1px 3px 0px rgba(26, 26, 26, .08);
    &:focus-within {
        outline: 3px solid var(--state-primary-active);
    }
}

.markdown__wrapper--editor .TinyMDE {
    background: transparent;
    color: var(--text-primary);
}

.markdown__wrapper--editor .TMCommandBar {
    background: transparent;
    color: var(--text-secondary);
    border: none;
    height: fit-content;
}

.markdown__wrapper--editor .TMCommandDivider {
    border-left: 1px solid var(--fill-00);
    height: auto;
}

.markdown__wrapper--editor .TMCommandButton {
    fill: var(--state-primary-active);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 36px;
    width: 36px;
    border-radius: 8px;
}

.markdown__wrapper--editor .TMCommandButton_Inactive {
    background: var(--fill-00);
}

.markdown__wrapper--editor .TMCommandButton_Active:hover {
    fill: var(--fill-00);
    background-color: var(--state-primary-selected);
}

.markdown__wrapper--editor .TMCommandButton_Disabled:hover {
    fill: var(--fill-00);
    background-color: var(--state-primary-selected);
}

.markdown__wrapper--editor .TMCommandButton_Inactive:hover {
    fill: var(--fill-00);
    background-color: var(--state-primary-selected);
}

.markdown__wrapper--editor .TMCommandButton_Active {
    fill: var(--fill-00);
    background: var(--state-primary-active);
}

.markdown__wrapper--editor {}

.markdown__wrapper--preview {}

.markdown__wrapper--preview * {
    line-height: 150%;
    color: var(--text-primary);
}

.markdown__wrapper--preview>pre>code {
    font-size: 14px;
    font-weight: 500;
    border-radius: 8px;
    border: 1px solid var(--fill-50);
    padding: 1.25em 1.5em;
    width: 100%;
    background: #f5f5f5;
    display: flex;
}

.markdown__wrapper--preview>p>code {
    font-size: 14px;
    font-weight: 500;
    border-radius: 8px;
    background: var(--fill-50);
    padding: 2px 6px;
    display: inline-flex;
}

.markdown__wrapper--preview blockquote {
    font-size: 14px;
    font-weight: 600;
    background-color: #f5f5f5;
    border-left: 5px solid var(--fill-50);
    border-radius: 8px;
    padding: 1.25em 1.5em;
}

.markdown__wrapper--preview hr {
    border: none;
    border-bottom: 1px solid var(--fill-50);
}

.icon-button--round {
    border-radius: 100%;
}

.icon-button--semi-round {
    border-radius: 40%;
}

.button--floating {
    position: absolute;
    bottom: 80px;
    right: 120px;
    width: 200px;
}

.button--disabled,
.dropdown--disabled {
    background: var(--background-disabled);
    color: var(--text-disabled);
    border: 0;
    box-shadow: none;
    cursor: not-allowed;
}

.dropdown {
    position: relative;
    color: var(--text-primary);
    font-weight: 500;
    line-height: 20px;
    transition: opacity 0.2s ease-out, background-color 0.2s ease-out;
    cursor: pointer;
}

.dropdown__container {
    display: flex;
    align-items: center;
    background: var(--fill-50);
    border-radius: 36px;
    padding: 0 16px;
}

.dropdown__wrapper {
    display: flex;
    flex-direction: column;
    gap: 4px;
    width: 100%;
    position: relative;
    border: none;
    color: var(--text-primary);
    border-radius: 0;
    background: transparent;
    line-height: normal;
    padding: 0;
    cursor: pointer;
}

.dropdown__label {
    @extend %text-lg-font-medium;
    color: var(--text-primary);
}

.dropdown__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    vertical-align: text-top;
    width: 100%;
}

.dropdown__placeholder {
    @extend %text-xl-font-medium;
}

.dropdown__value {
    @extend %text-xl-font-medium;
}

.dropdown__list {
    position: absolute;
    top: calc(20px + 20px + 4px + 4px);
    left: 0;
    width: max-content;
    max-width: 80vw;
    background: var(--fill-50);
    padding: 20px 20px;
    border-radius: 12px;
    list-style: none;
    z-index: 10;
}

.dropdown--right .dropdown__list {
    right: 0;
    left: unset;
}

.dropdown__item {
    text-align: left;
}

.dropdown__item * {
    @extend %text-xl-font-medium;
    width: 100%;
}

.dropdown__item>button {
    width: 100%;
    text-align: left;
    padding: 12px 0;
}

.dropdown__item>button {
    border-radius: 12px;
    transition: background-color 0.2s ease-in;
}

.dropdown__item>button:hover {
    background-color: var(--fill-200);
}

.dropdown__container--big,
.button--big,
.action-request--big,
.tab--big,
.input-wrapper__container--big,
.icon-button--big {
    @extend %text-lg-font-medium;
    height: var(--element-size-big);
}

.button--big {
    @extend %text-xl-font-semibold;
}

.dropdown__container--medium,
.button--medium,
.action-request--medium,
.tab--medium,
.input-wrapper__container--medium,
.icon-button--medium {
    @extend %text-lg-font-semibold;
    padding: 0 8px;
    height: var(--element-size-medium);
}

.dropdown__container--small,
.button--small,
.tab--small,
.action-request--small,
.input-wrapper__container--small,
.icon-button--small {
    @extend %text-sm-font-semibold;
    height: var(--element-size-small);
}

.icon-button--big {
    width: var(--element-size-big);
    min-width: var(--element-size-big);
}

.icon-button--medium {
    width: var(--element-size-medium);
    min-width: var(--element-size-medium);
}

.icon-button--small {
    width: var(--element-size-small);
    min-width: var(--element-size-small);
}

input::placeholder,
textarea::placeholder {
    @extend %text-base-font-medium;
    color: var(--text-secondary);
}

.input__wrapper {
    display: flex;
    flex-direction: column;
    gap: 4px;
    width: 100%;
    position: relative;
}

.input__label {
    @extend %text-lg-font-medium;
    color: var(--text-primary);
    text-wrap: balance;
}

.input--right__text {
    @extend %text-sm-font-medium;
    color: var(--text-secondary);
}

.input-wrapper {
    width: 100%;
    min-width: 220px;
    padding: 0 20px;
    border-radius: 12px;
    display: flex;
    gap: 12px;
    align-items: center;
    background: var(--fill-00);
    border: none;
    box-shadow: 0px 0.5px var(--Blur-blur-0, 0px) 0px var(--Colors-alpha-dark-50, rgba(26, 26, 26, 0.08)), 0px 1px var(--Blur-blur-2, 3px) 0px rgba(26, 26, 26, 0.08);
    &:focus-within {
        border: 3px solid var(--state-primary-active);
    }
}

.button--primary,
.button--secondary,
.input-wrapper {
    width: calc(100% - 2px);
    margin: 0 1px;
}

.input {
    @extend %text-base-font-medium;
    width: 100%;
    border: none;
    outline: none;
    color: var(--text-primary);
    background: transparent;
}

.input__wrapper--search .button {
    position: absolute;
    padding: 0;
    right: 12px;
    background: transparent;
}

.input--error-container {
    // border: 2px solid var(--state-destructive-active);
}

.input--error {
    @extend %text-base-font-medium;
    color: var(--state-destructive-active);
    display: flex;
    gap: 2px;
    align-items: center;
    padding-top: 6px;
}

.input--help {
    @extend %text-sm-font-medium;
    color: var(--text-secondary);
    display: flex;
    gap: 2px;
    align-items: center;
    padding-top: 6px;
}

.avatar {
    width: var(--avatar-size);
    min-width: var(--avatar-size);
    height: var(--avatar-size);
    background: linear-gradient(#FFFFFF33, #FFFFFF4C);
    display: flex;
    align-items: center;
    justify-content: center;
}

.avatar--round {
    border-radius: 100% !important;
}

.avatar--semi-round {
    border-radius: 20% !important;
}

.avatar--initial {
    font-size: calc(var(--avatar-size) * 0.4);
    color: var(--text-secondary);
}

.title {
    @extend %text-4xl-font-medium;
    white-space: pre-line;
    color: var(--text-primary);
    text-wrap: balance;
}

.sidebar {
    height: 100%;
}

.sidebar__container {
    background: var(--text-primary);
    box-shadow: 1px 2px 8px var(--border--rgba);
    height: 100%;
}

.sidebar__scream {
    display: none;
}

.sidebar>.button--hamburguer {
    display: none;
}

.sidebar__list {
    display: flex;
    gap: 8px;
    flex-direction: column;
    padding: 24px 16px;
    align-items: center;
    position: sticky;
    top: 0px;
}

.sidebar__divider {
    width: 100%;
    border: none;
    border-bottom: 1px solid #b2edaf;
    margin: 16px 0;
}

.sidebar__item {
    display: flex;
    align-items: center;
    gap: 12px;
    position: relative;
}

.sidebar__item--uncomplete {
    opacity: 0.5;
}

.sidebar__item--favorite {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 10;
}

.sidebar__item--active::before {
    content: "";
    position: absolute;
    background: var(--state-primary-active);
    top: 50%;
    transform: translate(0, -50%);
    margin: auto 0;
    left: -12px;
    height: 20px;
    width: 6px;
    border-radius: 0 8px 8px 0;
}

.sidebar__list>li>span {
    display: none;
}

.textarea {
    display: flex;
    flex-direction: column;
    gap: 4px;
    width: 100%;
    border-radius: 12px;
    &:focus-within {
        outline: 3px solid var(--state-primary-active);
    }
}

.textarea__wrapper {
    resize: vertical;
    height: 120px;
    min-height: 2.625rem;
    width: 100%;
    padding: 12px 16px 0 20px;
    box-shadow: 0px 0px 0px 1px var(--neutral-alpha-50), 0px 1px 2px 0px var(--neutral-alpha-100);
    border-radius: 12px;
    display: flex;
    gap: 0.5rem;
    align-items: center;
    background: var(--background-input);
}

.attach {
    border: none;
    border-radius: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4px;
    width: 100%;
}

.attach__wrapper {
    display: flex;
    align-items: center;
    gap: 16px;
    width: 100%;
}

.attach__input {
    visibility: hidden;
    width: 0;
    display: none;
}

.attach__preview {
    min-width: 58px;
    max-width: 58px;
    height: 58px;
    background: var(--background-modal);
    object-fit: cover;
}

.attach__cta {
    width: 100%;
}

.attach__cta .button {
    border-radius: 16px;
    border: 2px dashed var(--fill-200);
    background: var(--fill-50);
    display: flex;
    padding: 20px 24px;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    width: 100%;
    color: var(--text-secondary);
}

.attach__wrapper--error {
    padding: 16px 16px 24px;
    border-radius: 12px;
    background: var(--color-red-50);
    flex-direction: column;
    align-items: normal;
    gap: 0;
}

.attach__error__header {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.attach__error__title {
    @extend %text-base-font-medium;
    color: var(--color-red-900);
}

.attach__error__explanation {
    @extend %text-base-font-medium;
    color: var(--color-red-700);
}

.attach__error__details {
    @extend %text-base-font-regular;
    color: var(--state-destructive-hover);
}

.checkbox-card {
    background: var(--state-base-background);
    border: none;
    border-radius: 12px;
    padding: 12px;
    display: flex;
    align-items: flex-start;
    cursor: pointer;
    position: relative;
    width: 100%;
    gap: 12px;
    height: 86px;
}

.checkbox-card--comming-soon {
    opacity: .7;
    filter: grayscale(1);
}

.checkbox__cta {
    position: absolute;
    right: 20px;
    top: 20px;
}

.checkbox-card input[type='radio'] {
    display: none;
}

.checkbox-custom {
    position: absolute;
    top: 12px;
    right: 12px;
    width: 20px;
    height: 20px;
    border-radius: 11px;
    border: 1px solid var(--state-base-border);
    background: var(--fill-100);
    box-shadow: 0px 0.5px 0px 0px rgba(26, 26, 26, 0.08), 0px 1px 3px 0px rgba(26, 26, 26, 0.08);

}

.checkbox-card input[type='radio']:checked+.checkbox-custom:after {
    border-radius: 11px;
    width: 12px;
    height: 12px;
    position: absolute;
    top: 3px;
    left: 3px;
    content: " ";
    display: block;
    background: var(--white);
}

.checkbox-card input[type='radio']:checked+.checkbox-custom {
    border: 1px solid #4BAA54;
    background: var(--state-primary-active);
}

.checkbox-card__title {
    @extend %text-base-font-semibold;
    color: var(--text-primary);
}

.checkbox-card__description {
    @extend %text-sm-font-medium;
    color: var(--text-secondary);
}

.radio-button,
.step-card {
    background: var(--fill-50);
    border: none;
    border-radius: 12px;
    display: flex;
    cursor: pointer;
    position: relative;
    width: 100%;
    box-shadow: 0px 1px 2px 0px rgba(26, 26, 26, 0.08);
    flex-direction: column;
    align-items: flex-start;
}

.step__content {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.step__content--payment {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.step__content__left {
    display: flex;
    gap: 12px;
    align-items: center;
}

.radio-button__header,
.step-card__header {
    display: flex;
    justify-content: space-between;
    width: 100%;
    gap: 8px;
    padding: 12px;
    align-items: center;
}

.step-card__header {
    justify-content: space-between;
}

.step-card__info {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
}

.step-card--comming-soon {
    opacity: .7;
    filter: grayscale(1);
}

.step-card__media {
    height: fit-content;
    display: flex;
    justify-content: center;
}

.radio-button__cta,
.step__cta {
    position: absolute;
    right: 20px;
    top: 20px;
}

.radio-button input[type='radio'],
.step-card input[type='radio'] {
    display: none;
}

.radio-custom,
.step-custom {
    position: relative;
    width: 20px;
    min-width: 20px;
    height: 20px;
    border-radius: 11px;
    border: 1px solid var(--state-base-border);
    background: var(--fill-100);
    box-shadow: 0px 0.5px 0px 0px rgba(26, 26, 26, 0.08), 0px 1px 3px 0px rgba(26, 26, 26, 0.08);
}

.radio-button input[type='radio']:checked+.radio-button__header>.radio-custom:after,
.step-card input[type='radio']:checked+.step-card__header>.step-custom:after {
    border-radius: 11px;
    width: 12px;
    height: 12px;
    position: absolute;
    top: 3px;
    left: 3px;
    content: " ";
    display: block;
    background: var(--white);
}

.radio-button input[type='radio']:checked+.radio-button__header>.radio-custom,
.step-card input[type='radio']:checked+.step-card__header>.step-custom {
    border: 1px solid #4BAA54;
    background: var(--state-primary-active);
}

.step-card__title {
    @extend %text-base-font-semibold;
    color: var(--text-primary);
    line-height: normal;
    text-align: left;
}

.step-card__description {
    @extend %text-sm-font-medium;
    color: var(--text-secondary);
    text-align: left;
}

.step-card__cost {
    @extend %text-lg-font-semibold;
    color: var(--text-secondary);
    text-align: left;
}

.step-card__fee {
    @extend %text-lg-font-medium;
    color: var(--text-secondary);
    text-align: right;
}

.step-card__editable {
    padding: 32px 24px;
    width: 100%;
    background: var(--white);
    border-radius: 0px 0px 12px 12px;
    border-right: 1px solid var(--fill-00);
    border-bottom: 1px solid var(--fill-00);
    border-left: 1px solid var(--fill-00);
}

.action__option .dropdown__container {
    padding: 4px 12px;
    border-radius: 8px;
    background: var(--fill-50);
}

.combo-input .dropdown__container {
    border-radius: 12px 0 0 12px;
    background: var(--fill-200);
}

.combo-input .input-wrapper {
    background: var(--fill-00);
    border-radius: 0 12px 12px 0;
    margin: 0;
    box-shadow: none;
}

.combo-input {
    display: flex;
    width: 100%;
    border: none;
}

.combo-input--reverse {
    flex-direction: row-reverse;
}

.combo-input--comming-soon {
    filter: grayscale(1);
}

.combo-input--comming-soon::after {
    @extend %text-xs-font-regular;
    content: "Soon";
    position: absolute;
    bottom: -10%;
    right: 5%;
    padding: 0 8px;
    border-radius: 4px;
    color: var(--text-white);
    background: var(--state-base-border);
}

.combo-input .dropdown {
    width: 40%;
}

.combo-input .dropdown__container {
    border-radius: 12px 0 0 12px;
    background: var(--fill-200);
}

.combo-input .dropdown__list {
    min-width: 100%;
    width: max-content;
    z-index: 100;
    padding: 20px 20px;
    border-radius: 12px;
    list-style: none;
}

.combo-input--comming-soon .dropdown__list {
    min-width: 100%;
    width: max-content;
    z-index: 100;
}

.combo-input>.input__wrapper {
    display: inline-flex;
}

.combo-input .input-wrapper {
    background: var(--fill-00);
    border-radius: 0 12px 12px 0;
    margin: 0;
    box-shadow: none;
}

.subtitle {
    color: var(--text-primary);
    font-family: 'Inter', Arial, Helvetica, sans-serif;
    font-size: 36px;
    font-style: normal;
    font-weight: 600;
    text-wrap: balance;
}

.account {
    display: flex;
    gap: 12px;
    padding: 12px 10px;
    transition: opacity 0.2s ease-out, background-color 0.2s ease-out;
    cursor: pointer;
    border-radius: 8px;
    border: none;
    background: transparent;
    color: var(--text-primary);
}

.account__wrapper {
    display: flex;
    flex-direction: column;
    gap: 4px;
    width: 100%;
    text-align: left;
}

.account__title {
    color: var(--text-primary);
    font-family: 'Inter', Arial, Helvetica, sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 20px;
}

.account__description {
    color: var(--text-primary);
    font-family: 'Inter', Arial, Helvetica, sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.header {
    width: calc(100vw - 120px);
    padding: 40px 80px;
    display: flex;
    justify-content: space-between;
    box-shadow: 0px 1px 8px 2px var(--border--rgba);
    align-items: center;
}

.header__memberships {
    width: 200px;
}

.layout {
    position: relative;
    z-index: 10;
}

.layout--onboard {
    left: 0;
    top: 0;
    width: max-content;
    position: sticky;
}

.layout--authenticated {
    right: 0;
    top: 0;
    position: sticky;
    height: max-content;
    background: var(--fill-00);
}

.layout--footer {
    right: 0;
    bottom: 0;
    width: 100%;
    height: 48px;
    position: sticky;
}

::-webkit-scrollbar {
    height: 5px;
    width: 5px;
}

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px rgba(var(--text-2, 0.5));
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background: var(--fill-200);
    border-radius: 5px;
}

.attach>label {
    text-align: center;
}

.dashboard {
    padding: 16px;
    height: 100%;
    min-height: calc(100vh - 140px);
    width: 100%;
    position: relative;
    margin-bottom: 48px;
}

.initiatives {
    padding: 16px;
    height: 100%;
    min-height: calc(100vh - 90px);
    position: relative;
    margin-bottom: 48px;
}

.dashboard__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 16px;
    width: 100%;
    background: var(--page-background);
}

.dashboard__header__left {
    display: flex;
    align-items: center;
    width: max-content;
    gap: 20px;
    position: relative;
}

.profile {
    height: var(--element-size-big);
    width: var(--element-size-big);
    border-radius: 100px;
    background: var(--blue-dark);
    position: relative;
    box-shadow: 3.625px 2.9px 0px 1.45px #BD9FE3;
}

.welcome {
    display: flex;
    flex-direction: column;
}

.dashboard__header__right {
    display: flex;
    width: max-content;
    gap: 24px;
}

.balance__container {
    display: flex;
    gap: 16px;
}

.deposit {
    width: max-content;
}

.balances {
    display: flex;
    flex-direction: column;
}

.balance__title {
    text-align: right;
}

.balance__sign {
    @extend %text-custom-font-medium;
    vertical-align: text-top;
    color: var(--text-primary);
    margin: auto 0;
}

.balance__value {
    @extend %text-2xl-font-medium;
    color: var(--text-primary);
}

.balance__decimals {
    @extend %text-2xl-font-medium;
    color: var(--text-tertiary);
}

.balance__asset {
    @extend %text-2xl-font-medium;
    color: var(--text-tertiary);
    margin-left: 12px;
}

.balance__subtitle {
    text-align: right;
}

.balance__subtitle>.balance__sign {
    vertical-align: baseline;
}

.balance__subtitle>.balance__value {
    @extend %text-base-font-medium;
}

.balance__subtitle>.balance__decimals {
    @extend %text-base-font-medium;
}

.balance__subtitle>.balance__asset {
    @extend %text-base-font-medium;
}

.header__cta {
    display: flex;
    gap: 8px;
}

.dashboard__head {
    display: flex;
    justify-content: space-between;
}

.head__actions {
    display: flex;
    justify-content: center;
    gap: 8px;
    align-items: center;
}

.dashboard__communities {
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: repeat(4, 1fr);
    gap: 16px;
    width: 100%;
    margin: 16px 0 0;
}

.tag {
    display: flex;
    height: 28px;
    min-height: 28px;
    padding: 0px 12px;
    justify-content: center;
    align-items: center;
    gap: 6px;
    border-radius: 8px;
    background: var(--fill-100);
}

.tag--editing {
    opacity: 0.4;
}

.tag__text {
    background: transparent;
    border: none;
    cursor: pointer;
    @extend %text-base-font-medium;
    color: var(--text-primary);
}

.card {
    background: var(--fill-50);
    border-radius: 40px;
    padding: 32px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 300px;
    transition: all 0.2s ease-out;

    &:hover {
        background-color: var(--fill-200);
        box-shadow: 0px 16px 32px 0px #00221833;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    }
}

.card--reverse {
    flex-direction: column-reverse;
    background: var(--fill-100);
    box-shadow: none;

    &:hover {
        background-color: var(--fill-200);
        transform: scale(1.05);
    }
}

.card--comming-soon {
    opacity: .7;
    filter: grayscale(1);
}

.card--comming-soon::after {
    @extend %text-xs-font-regular;
    content: "Soon";
    position: absolute;
    bottom: 10%;
    right: 5%;
    padding: 0 8px;
    border-radius: 4px;
    color: var(--text-white);
    background: var(--state-base-border);
}

.card__container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    position: relative;
}

.card__favorite {
    position: absolute;
    right: 0;
}

.card__head {
    display: flex;
    align-items: center;
    gap: 16px;
}

.card__learn {
    @extend %text-base-font-bold;
    color: var(--text-tertiary);
}

.card__title {
    @extend %text-3xl-font-bold;
    color: var(--text-primary);
    text-align: left;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    line-clamp: 2;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
}

.card__description {
    @extend %text-sm-font-medium;
    color: var(--text-tertiary);
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    line-clamp: 2;
    -webkit-box-orient: vertical;
}

.card__metrics {
    display: flex;
    gap: 8px;
    flex-direction: column;
}

.card__metric {
    display: flex;
    gap: 4px;
    align-items: center;
}

.card__metric>small {
    @extend %text-base-font-medium;
    color: var(--text-primary);
}

.card__tags {
    display: flex;
    gap: 4px;
}

.card__cta {
    display: flex;
    justify-content: flex-end;
}

.dashboard__footer {
    display: flex;
    justify-content: space-between;
    position: absolute;
    width: 100%;
    height: max-content;
    align-items: center;
    bottom: 0;
    left: 0;
    padding: 16px;
    margin-top: 16px;
    background: var(--fill-00);
}

.dashboard__footer__pagination {
    display: flex;
    gap: 16px;
    align-items: center;
    opacity: 0.3;
}

.dashboard__footer__paginators {
    display: flex;
    gap: 8px;
    align-items: center;
}

.dashboard__footer__paginator {
    @extend %text-xs-font-regular;
    color: var(--text-primary);
}

.dashboard__footer__rights {
    @extend %text-xs-font-regular;
    color: var(--text-primary);
}

.dashboard__floating {
    position: fixed;
    bottom: calc(24px + 16px + 16px);
    right: 16px;
}

.mobile {
    display: none;
}

@media only screen and (max-width: 1290px) {
    .dashboard__communities {
        grid-template-columns: repeat(3, 1fr);
        width: 100%;
    }

    .onboarding__form {
        max-width: 60%;
    }
}

@media only screen and (max-width: 1024px) {
    :root {
        --element-size-big: 48px;
        --element-size-medium: 36px;
        --element-size-small: 24px;
    }

    .onboarding__form {
        max-width: 70%;
        padding: 32px;
    }

    .tooltip {
        width: 50%;
    }

    .header__cta> :not(.mobile) {
        display: none;
    }

    .header__cta .mobile {
        display: inherit;
    }

    .header--active>.header__menu {
        display: inherit;
        width: 100vw;
        height: 100vh;
        position: absolute;
        top: 0;
        right: 0;
    }

    .header__close {
        height: fit-content;
        width: fit-content;
        margin-left: auto;
    }

    .header__close button {
        padding: 6px 0;
        min-width: fit-content;
    }

    .header__menu__list {
        height: 100vh;
        width: 40%;
        padding: 16px;
        background: var(--fill-00);
        position: absolute;
        right: 0;
        z-index: 100;
    }

    .header__menu__list>ul {
        gap: 16px;
        display: flex;
        flex-direction: column;
        margin: 0;
        padding: 0;
    }

    .header__menu__list li {
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        list-style-type: none;
        gap: 8px;
        margin-right: auto;
    }

    .header__menu__list>li span {
        @extend %text-base-font-semibold;
        color: var(--text-primary);
    }

    .header__scream {
        display: block;
        height: 100vh;
        width: 100vw;
        position: absolute;
        background: rgba(0, 0, 0, 0.3);
        top: 0;
        left: 0;
        z-index: 20;
    }

    .header .dropdown__placeholder,
    .dropdown__value {
        @extend %text-lg-font-medium;
    }

    .button,
    .tab {
        @extend %text-sm-font-semibold;
        padding: 0 12px;
    }

    .input {
        @extend %text-base-font-medium;
    }

    .dashboard {
        min-height: calc(100vh - 84px);
    }

    .dashboard__communities {
        grid-template-columns: repeat(2, 1fr);
    }

    .button--avatar {
        padding: 0;
    }

    .button--avatar svg {
        max-width: 28px;
        width: 28px;
        height: 28px;
    }

    .icon-button--big svg {
        max-width: 28px;
        width: 28px;
        height: 28px;
    }

    .card .icon-button--big svg {
        max-width: 24px;
        width: 24px;
        height: 24px;
    }

    .icon-button--medium svg {
        max-width: 20px;
        width: 20px;
        height: 20px;
    }

    .page {
        grid-template-rows: 84px auto auto;
    }
}

@media only screen and (max-width: 768px) {
    .onboarding__form {
        max-width: 100%;
    }

    .onboarding__image {
        display: none;
    }
}

@media only screen and (max-width: 600px) {
    .onboarding__form {
        padding: 16px;
    }

    .tooltip {
        width: calc(100% - 28px);
    }

    .dashboard__header .icon-button--big svg {
        max-width: 20px;
        width: 20px;
        height: 20px;
    }

    .profile {
        box-shadow: 3px 2.4px 0px 1.2px #BD9FE3;
    }

    .dashboard__header__right {
        justify-content: center;
    }

    .deposit .icon-button--big {
        height: var(--element-size-medium);
        width: var(--element-size-medium);
        min-width: var(--element-size-medium);
    }

    .header__cta .mobile {
        height: var(--element-size-medium);
        width: var(--element-size-medium);
        min-width: var(--element-size-medium);
    }

    .header__menu__list {
        width: 60%;
    }

    .balance__container {
        gap: 5px;
    }

    .balances {
        justify-content: center;
    }

    .balance__sign {
        @extend %text-custom-font-medium;
    }

    .balance__value {
        @extend %text-lg-font-medium;
    }

    .balance__decimals {
        @extend %text-lg-font-medium;
    }

    .balance__asset {
        @extend %text-lg-font-medium;
    }

    .balance__subtitle {
        display: none;
    }

    .head__actions .input__wrapper .button {
        position: relative;
        right: 0;
    }

    .head__actions .input__wrapper--active .input-wrapper {
        min-width: 220px;
        box-shadow: 0px 0.5px var(--Blur-blur-0, 0px) 0px var(--Colors-alpha-dark-50, rgba(26, 26, 26, 0.08)), 0px 1px var(--Blur-blur-2, 3px) 0px rgba(26, 26, 26, 0.08);
        padding: 0 16px;
    }

    .head__actions .input__wrapper--active .input-wrapper input {
        display: inline-block;
    }

    .head__actions .input-wrapper .button {
        background: var(--fill-50) !important;
    }

    .head__actions .input__wrapper--active .button {
        position: absolute;
        right: 0;
        transform: translate(-50%, 0px);
        background: transparent !important;
    }

    .head__actions .input__wrapper--active .button svg {
        fill: var(--text-secondary);
    }

    .head__actions .input-wrapper {
        min-width: max-content;
        box-shadow: none;
        padding: 0;
    }

    .head__actions .input-wrapper input {
        display: none;
    }

    .head__actions .desktop {
        display: none;
    }

    .head__actions__filter {
        display: none;
    }

    .head__actions .mobile {
        display: inline-block;
    }

    .page {
        grid-template-areas:
            "header"
            "main"
            "footer"
            "sidebar";
        grid-template-rows: 80px auto 1fr 80px;
    }

    .dashboard__header__right {
        gap: 8px;
    }

    .sidebar {
        width: 100%;
        height: 80px;
        position: fixed;
        bottom: 0;
    }

    .sidebar__container {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
    }

    .sidebar__list {
        flex-direction: row;
        align-items: center;
    }

    .sidebar__divider {
        display: none;
    }

    .dashboard {
        padding-top: 0;
        min-height: calc(100vh - 64px);
    }

    .dashboard__communities {
        grid-template-columns: repeat(1, 1fr);
    }

    .card__title {
        @extend %text-2xl-font-semibold;
    }

    .card__description {
        @extend %text-sm-font-regular;
    }
}

@media only screen and (max-width: 460px) {
    .page {
        grid-template-rows: 68px auto auto;
    }

    .tooltip {
        top: 68px;
    }

    .profile {
        height: 32.231px;
        width: 32.231px;
        box-shadow: 2.077px 1.662px 0px 0.831px #BD9FE3;
        position: relative;
        z-index: 10;
        top: 0;
    }

    .welcome--positioned {
        position: absolute;
        left: 0;
    }

    .header__wallet * {
        border: none;
        outline: none;
    }

    .header__wallet .dropdown__value {
        display: none;
    }

    .header__wallet .dropdown__placeholder {
        display: none;
    }

    .header__wallet {
        width: calc(54px + 30px);
    }

    .header__wallet .dropdown__container {
        height: var(--element-size-medium);
        justify-content: flex-end;
    }

    .header__wallet .dropdown__wrapper {
        width: max-content;
    }

    .header__wallet .rotate-180 {
        transform: rotate(90deg);
        transition-duration: 0.3s;
        transition-property: transform;
    }

    .header__wallet .rotate-0 {
        transform: rotate(270deg);
        transition-duration: 0.3s;
        transition-property: transform;
    }

    .header__menu__list {
        width: 80%;
    }

    .balance__title {
        display: none;
    }

    .dashboard__header__right {
        gap: 0px;
    }

    .dashboard {
        padding-top: 0;
        min-height: calc(100vh - 68px);
        margin-bottom: 84px;
    }

    .dashboard__floating {
        bottom: 72px;
    }

    .dashboard__head .input__wrapper--active {
        position: absolute;
        background: var(--fill-00);
        z-index: 10;
        left: 0;
        padding: 0 16px;
    }

    .dashboard__communities {
        grid-template-columns: repeat(1, 1fr);
    }

    .card__title {
        @extend %text-lg-font-semibold;
    }

    .card__description {
        @extend %text-sm-font-medium;
    }

    .dashboard__footer {
        flex-direction: column;
        gap: 10px;
    }
}

.animated-text {
    display: inline-flex;
    flex-direction: column;
    position: relative;
    width: auto;
    min-width: 150px;
    height: 1.62em;
    vertical-align:bottom;
    overflow: hidden;
    text-align: start;
}

.animated-text span {
    @extend %text-2xl-font-semibold;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    animation: roll 6s ease-in-out infinite;
}

.animated-text span:nth-child(1) {
    animation-delay: 0s;
}
.animated-text span:nth-child(2) {
    animation-delay: 2s;
}
.animated-text span:nth-child(3) {
    animation-delay: 4s;
}

@keyframes roll {
    0%, 33.33% {
        opacity: 0;
        transform: translateY(100%);
    }
    5%, 28.33% {
        opacity: 1;
        transform: translateY(0);
    }
}

.card--skeleton {
    animation: loadingBackground 1.5s infinite;
}

@keyframes loadingBackground {
    0% {
        background-color: var(--fill-100);
    }
    50% {
        background-color: var(--fill-50);
    }
    100% {
        background-color: var(--fill-100);
    }
}